extends ./restaurant-template.jade

block content
  .container
    .row
        .6u
          .box
            h3.info
              i(class='icon fa-clock-o')
              span Horario de atención
            p #{restaurant.time_open}
            h3.info
              i(class='icon fa-map-marker')
              span Dirección
            p #{restaurant.address}
            a(class='view-google-maps', href='#{restaurant.mapsURL}', target='_blank') Ver en google maps  
            h3.info
              i(class='icon fa-phone')
              span Contacto
            p #{restaurant.contact_msg}
            footer
              - var socialLinks = [];
              - var sm = restaurant.social_media;
              - sm.facebook ? socialLinks.push({url: sm.facebook, icon: 'fa-facebook'} ): null;
              - sm.twitter ? socialLinks.push({url: sm.twitter, icon: 'fa-twitter'} ): null;
              - sm.instagram ? socialLinks.push({url: sm.instagram, icon: 'fa-instagram'} ): null;
              - sm.googlePlus ? socialLinks.push({url: sm.googlePlus, icon: 'fa-google-plus'} ): null;
              - sm.pinterest ? socialLinks.push({url: sm.pinterest, icon: 'fa-pinterest'} ): null;
              ul.social-info
                each link in socialLinks
                  li
                    a(target='_blank', class="fa #{link.icon}",
                      href='#{link.url}')
                      label gg

        .6u
          .box
            img(class='img-responsive', src='/restaurant/map/#{restaurant.homeID}')
