h1
  a(href='#') #{restaurant.name}

nav#nav
  ul
    - var tabs = []
    - restaurant.dishes ? tabs.push('menu') : null;  
    - restaurant.carta  ? tabs.push('carta') : null;
    - tabs.push('info');
    each tab in tabs
      - var tabname = tab.charAt(0).toUpperCase() + tab.slice(1)
      - var liclass = tab == active_tab ? 'current' : ''; 
      li(class='#{liclass}') 
        a(href='/#{restaurant.homeID}/#{tab}') #{tabname}
    li
      a(href='/#menus') Atrás
