.4u  
  section.box
    a(class='image featured')
      .box-separator
    header
      div.same-line
        h3.same-line #{rest.name}
      div S/. #{rest.price_range}
    .row
      ul(class='row dishes')
        each dish in rest.dish_preview
          li.12u #{dish.name}
    footer
      - var redirect = rest.dishes ? 'menu' : 'carta';
      a(class='button alt', href='#{rest.homeID}/#{redirect}') Ver más
