h1
  a(href='index.html') #{restaurant.name}

nav#nav
  ul
    - var tabs = ['menu', 'carta', 'contacto']
    each tab in tabs
      - var tabname = tab.charAt(0).toUpperCase() + tab.slice(1)
      - var liclass = tab == active_tab ? 'current' : ''; 
      li(class='#{liclass}') 
        a(href='/#{restaurant.homeID}/#{tab}') #{tabname}
    li
      a(href='/') Atrás
