h1
  a(href='#') #{restaurant.name}

nav#nav
  ul
    - var tabs = []
    - restaurant.shouldUpdate.facebook ? tabs.push(['Menú', 'fbPreview']): null;
    - restaurant.shouldUpdate.photos ? tabs.push(['Menú', 'galery']): null;
    - restaurant.dishes ? tabs.push(['Menú', 'menu']) : null;  
    - restaurant.extras  ? tabs.push(['Carta', 'carta']) : null;
    - tabs.push(['Contacto', 'contact']);
    - tabs.push(['Info', 'info']);
    each tab in tabs
      - var tabname = tab[0].charAt(0).toUpperCase() + tab[0].slice(1)
      - var liclass = tab[1] == active_tab ? 'current' : ''; 
      li(class='#{liclass}') 
        a(href='/#{restaurant.tagName}/#{tab[1]}') #{tabname}
    li
      a(href='/#menus') Atrás
