extends ../main-template.jade

block title
  #header-wrapper
    #header
      include title
      section#banner
        header
          - var h2Title = menu_active ? 'No hay básico': 'Vuelve pronto'
          h2 #{h2Title}
          if !menu_active
            p
              | Estamos recogiendo nuestro básico. </br>
              | Volveremos con los menús un poco antes de las 11am.  
          else 
            p 
              | Checkea que puedes comer cerca hoy 
              b #{cur_day} .
              br
              | Esta vez necesitamos tu apoyo, si cachimbo el tuyo también. 
              br
              | Actualizaremos algunos menús desde sus páginas de fb,
              br
              | pero necesitamos que tú subas las imagenes de los otros menús.
              br
              | Apoya pe Chorri!
        include android-nhb

block content
  .container
    .row
      .12u
        section
          header.major#menus 
            if !menu_active
              h2 Los menús actualizados ya vienen
            else
              h2
                - perc = ((data.perc /data.total) * 100).toFixed(0)
                progress(max='#{data.total}', value='#{data.perc}')
                span.progress-value #{perc} %
          include ../component-wrapper
